@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>

<div class="d-grid gap-*">
    <a class="btn btn-secondary" asp-controller="Buyer" asp-action="Index" role="button">Voltar</a>
</div>