@model ProductViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row">

        <div class="col">
        </div>
    </div>
</div>
<div class="d-grid gap-*">
    <a class="btn btn-secondary" asp-controller="Buyer" asp-action="Index" role="button">Voltar</a>
</div>