@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="text-center">
    <h1 class="display-4">SignUp</h1>
</div>

<form asp-controller="Home" asp-action="SignUp" method="post">

    <div class="mb-3">
        <label for="FirstName" class="form-label">E-mail</label>
        <input type="text" asp-for="FirstName" class="form-control" id="FirstName">
    </div>
    
    <div class="mb-3">
        <label for="LastName" class="form-label">E-mail</label>
        <input type="text" asp-for="LastName" class="form-control" id="LastName">
    </div>
        
    <div class="mb-3">
        <label for="NickName" class="form-label">E-mail</label>
        <input type="text" asp-for="NickName" class="form-control" id="NickName">
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" id="Email">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="text" asp-for="Password" class="form-control" id="Password">
    </div>

    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Password</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword">
    </div>

    <div class="mb-3">
        <label for="Document" class="form-label">Password</label>
        <input type="text" asp-for="Document" class="form-control" id="Document">
    </div>

    <div class="d-grid gap-*">
        <button type="submit" class="btn btn-primary">SignUp</button>
    </div>
</form>